server:
  port: 8080
spring:
  application:
    name: "user-service"
  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
    password: root
    jpa:
      show-sql: true