server:
  port: 8082
spring:
  application:
    name: "user-service"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/user_db?use8Unicode=yes&characterEncoding=UTF-8&createDatabaseIfNotExist=true
    username: root
    password: Read@com1978
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    #database-platform: org.hibernate.dialect.MyQL8Dialect
eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/